${model_prefix}_PREFIX = "${model_prefix}"

${model_prefix}_VERBOSE_NAME = _("${model_name}")
${model_prefix}_VERBOSE_NAME_PLURAL = _("${model_name}")

${model_prefix}_LIST_URL_NAME = ${model_prefix}_PREFIX + conf.LIST_SUFFIX
${model_prefix}_CREATE_URL_NAME = ${model_prefix}_PREFIX + conf.CREATE_SUFFIX
${model_prefix}_DETAIL_URL_NAME = ${model_prefix}_PREFIX + conf.DETAIL_SUFFIX
${model_prefix}_UPDATE_URL_NAME = ${model_prefix}_PREFIX + conf.UPDATE_SUFFIX
${model_prefix}_DELETE_URL_NAME = ${model_prefix}_PREFIX + conf.DELETE_SUFFIX

