from django.contrib.auth.mixins import LoginRequiredMixin, PermissionRequiredMixin
try:
    from django.core.urlresolvers import reverse_lazy
except ImportError:
    from django.urls import reverse_lazy
from django import http


from base import views as base_views

from .. import (
    models,
    forms,
    conf
)


class List(LoginRequiredMixin, base_views.BaseListView):
    """
    List all ${model_name}s
    """
    queryset = models.${model_name}.objects.all()

    def __init__(self):
        super(List, self).__init__()

    def get_context_data(self, **kwargs):
        context = super(List, self).get_context_data(**kwargs)

        context['detail_url_name'] = conf.${model_prefix}_DETAIL_URL_NAME

        if self.request.user.has_perm("${application_name}.add_${model_name_lower}"):
            context['create_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_CREATE_URL_NAME
            )
        
        return context


class Create(LoginRequiredMixin, PermissionRequiredMixin, base_views.BaseCreateView):
    """
    Create a ${model_name}
    """
    model = models.${model_name}
    permission_required = (
        '${application_name}.add_${model_name_lower}'
    )
    form_class = forms.${model_name}

    def __init__(self):
        super(Create, self).__init__()

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_DETAIL_URL_NAME, kwargs=self.kwargs_for_reverse_url())


class Detail(LoginRequiredMixin, base_views.BaseDetailView):
    """
    Detail of a ${model_name}
    """
    model = models.${model_name}

    def __init__(self):
        super(Detail, self).__init__()

    def get_context_data(self, **kwargs):
        context = super(Detail, self).get_context_data(**kwargs)

        if self.request.user.has_perm("${application_name}.change_${model_name_lower}"):
            context['update_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_UPDATE_URL_NAME,
                kwargs=self.kwargs_for_reverse_url()
            )

        if self.request.user.has_perm("${application_name}.delete_${model_name_lower}"):
            context['delete_object_reversed_url'] = reverse_lazy(
                conf.${model_prefix}_DELETE_URL_NAME,
                kwargs=self.kwargs_for_reverse_url()
            )

        return context


class Update(LoginRequiredMixin, PermissionRequiredMixin, base_views.BaseUpdateView):
    """
    Update a ${model_name}
    """
    model = models.${model_name}
    form_class = forms.${model_name}
    permission_required = (
        '${application_name}.change_${model_name_lower}'
    )

    def __init__(self):
        super(Update, self).__init__()

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_DETAIL_URL_NAME, kwargs=self.kwargs_for_reverse_url())


class Delete(LoginRequiredMixin, PermissionRequiredMixin, base_views.BaseDeleteView):
    """
    Delete a ${model_name}
    """
    model = models.${model_name}
    permission_required = (
        '${application_name}.delete_${model_name_lower}'
    )

    def __init__(self):
        super(Delete, self).__init__()

    def get_success_url(self):
        return reverse_lazy(conf.${model_prefix}_LIST_URL_NAME)
